
  <section id="login">
     <div  class="form-container"> 
        <h2>Login</h2>
        <form action="/users/create-session" method="POST">
            <input type="email" name="email" placeholder="Enter your email">
            <input type="password"name="password" placeholder="Enter password">
            <button type="submit">Login</button> 
        </form> 
        <div class="bttn-type"> 
            <a href="/users/auth/google">LogIn/signUp via Google</a>
           </div>  
       <div class="bttn-type">First Time<a href="/users/signup">Create an Account</a>
        </div>   
    </div>    
</section>