   <section id="sign-up">
     <div class="form-container">  
        <h2>Sign Up</h2> 
        <form action="/users/create" method="POST">
            <input type="email" name="email" placeholder="Enter your email">
            <input type="text" name="name" placeholder="Enter your Full Name">
            <input type="password"name="password" placeholder="Enter password">
            <input type="password" name="confirmPassword" placeholder="Re Enter Password">
            <button type="submit">Sign up</button> 
        </form>    
       <div class="bttn-type"> 
        <a href="/users/auth/google">LogIn/signUp via Google</a>
       </div>  
    </section>